html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

#map {
  height: 100%;
}

.distance {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-top: 1%;
}

.losAngelesSeattle {
  padding-left: 1%;
}

.seattleChicago {
  padding-top: 2%;
}

.nycDC {
  padding-left: 0.75%;
}

.atlantaMiami {
  padding-left: 2%;
}

.dallasMiami {
  padding-top: 3%;
}







