html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow:hidden;
}

h1  {
  color: red;
}

#map {
  height: 100%;
}

h1  {
  color: red;
}

.chicagoNY {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-top: 1%;
}

.losAngelesSeattle {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-left: 1%;
}

.seattleChicago {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-top: 2%;
}

.nycDC {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-left: 0.75%;
}

.atlantaMiami {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-left: 2%;
}

.dallasMiami {
  position: absolute;
  font-family: sans-serif;
  font-style: italic;
  color: black;
  font-size: 15px;
  padding-top: 3%;
}


#destination {
  display: inline-block;
}

#demo {
  display: inline-block;
}



